
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/producto" method="post">
        <label for="nombre">Nombre del producto:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" min="0"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>