h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: Verdana;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    padding-left: 5px;
}

body {
    background-color: rgb(186, 66, 255);
    margin: 20px; 
    padding-bottom: 10px;
}

nav {
    float: left;
    background-color: #c473d8;
    width: 260px;
    height: 200px;
}
.enlaces{
   margin-left: 5px;
   padding-left: 5px;
   list-style: none;
    
}
main{
    background-color: #9965bb;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}
footer{
    background-color: #4e4579;
    clear: both;
    text-align: center;
    padding: 30px;
    color: rgb(149, 190, 228);
}