body{
    background-color: #8e8e89 ;
}

h1{
    color: black;
    text-align: center;
}

.h2{
    color: #0404e2;
}

.escala{
    max-width: 30%;
    max-height: 40%;
}

.contenedor{
    background: linear-gradient(rgb(64, 64, 251), rgb(91, 91, 86));
    border-radius: 10px;
    box-shadow: 0x 0px 5px black;
    padding: 15px;
    text-align: center;
}

.eliminar{
    background-color: crimson;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.articulos{
    text-align: center;
}

#seccom{
    color: black;
    font-size: larger;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

#list{
    list-style: none;
    margin-right: 10px;
}

.eliminar:hover{
    background-color: antiquewhite;
    color: crimson;
}

.cajacom{
    background: linear-gradient(rgb(45, 44, 85), rgb(48, 44, 155), rgb(91, 91, 86));
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

#texto{
    color: #8c8c8c;
}

#input{
    width: 100%;
    height: 20px;
}

li{
    color: #8c8c8c;
    margin-right: 20px;
}

button{
    margin-top: 10px;
    height: 80%;
}

a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: large;
}

a:before,
a:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #ff0000;
    transition: left .8s;
}

a:hover:before {
    left: 0;
}

a:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: -100%;
    background: #ff0000;
    transition: right .8s;
}

a:hover:after {
    right: 0;
}
